{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Menu</h1>
<!--Begin col-->
<div class="column">
    {% for item in menu %}
    <div class="menu-item">
        <img src="{% static 'img/'|add:item.image_filename %}" alt="{{ item.name }}" width="200" height="150">
        <p>
            <a href="{% url 'menu_item' pk=item.pk %}">
                {{ item.name }}
            </a>
            <span class="menu-price">
                ${{ item.price }}.00
            </span>
        </p>
        <p>{{ item.menu_item_description }}</p>
    </div>
{% endfor %}
</div>
<!--End col-->
{% endblock %}